
.Rhistory
*.pper
.Rproj.user/shared/notebooks/paths
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/998C6F0A/viewer-cache/7032EA4A.Rdata
.Rproj.user/998C6F0A/viewer-cache/52D3934B.Rdata
.Rproj.user/998C6F0A/sources/prop/INDEX
.Rproj.user/998C6F0A/sources/prop/8F0A2F16
.Rproj.user/998C6F0A/sources/prop/8A492277
.Rproj.user/998C6F0A/sources/per/t/EEA8F4D2-contents
.Rproj.user/998C6F0A/sources/per/t/EEA8F4D2
.Rproj.user/998C6F0A/sources/per/t/E1B2CCC0-contents
.Rproj.user/998C6F0A/sources/per/t/E1B2CCC0
.Rproj.user/998C6F0A/sources/per/t/C67B1467-contents
.Rproj.user/998C6F0A/sources/per/t/C67B1467
.Rproj.user/998C6F0A/sources/per/t/3697EFDF-contents
.Rproj.user/998C6F0A/sources/per/t/3697EFDF
.Rproj.user/998C6F0A/saved_source_markers
.Rproj.user/998C6F0A/rmd-outputs
.Rproj.user/998C6F0A/persistent-state
.Rproj.user/998C6F0A/explorer-cache/3a4796cfc8ac4c1c980b3257c57a4107
